:root {
    --black: #191919;
    --boxShadowPlace: 0 0;
    --boxShadowBlur: 8px;
    --boxShadowColor: rgba(0, 0, 0, 0.3);
    --boxShadow: var(--boxShadowPlace) var(--boxShadowBlur) var(--boxShadowColor);
    --primaryFontColor: var(--black)
}

* {
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;

}

:focus {
    outline: none !important;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}


nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff !important;
    overflow: auto;
    color: var(--primaryFontColor);
    position: relative;
    z-index: 100000;
}

.navBoxShadow {
    --boxShadowPlaceOfNav: 0 2px;
    --boxShadowBlurOfNav: 20px;
    box-shadow: var(--boxShadowPlaceOfNav) var(--boxShadowBlurOfNav) var(--boxShadowColor);
}

.meetingMembersBoxShadow {
    --boxShadowPlaceOfNav: -1px 0;
    --boxShadowBlurOfNav: 10px;
    box-shadow: var(--boxShadowPlaceOfNav) var(--boxShadowBlurOfNav) var(--boxShadowColor);
}

.pageHeadingText {
    color: var(--primaryFontColor);
}



.primaryBoxShadow {
    box-shadow: var(--boxShadow);
    transition: all 0.1s ease-in-out;
}

.primaryBoxShadow:active,
.primaryBoxShadow:hover,
.primaryBoxShadow:focus,
.primaryBoxShadow:active:focus {
    box-shadow: 0 0px 15px var(--boxShadowColor);
}

.secondaryBoxShadow {
    box-shadow: var(--boxShadowPlace) 4px var(--boxShadowColor);
    ;
    transition: all 0.1s ease-in-out;
}

.secondaryBoxShadow:active,
.secondaryBoxShadow:hover,
.secondaryBoxShadow:focus,
.secondaryBoxShadow:active:focus {
    box-shadow: var(--boxShadowPlace) 8px var(--boxShadowColor);
    ;
}

.spinner-border {
    color: #1877F2;
}

#login-component {
    /* position: relative; */
    /* z-index: 10; */
    /* top: 50px; */
}

.btn-primary {
    /* background-image: url('./assets/images/fbLoginBtn.svg'); */
    /* width: 120px !important; */
    background-color: #1877F2;
    /* border: none !important; */
    color: white !important;

}

.btn-outline-info {
    /* background-color: #fff; */
    /* border: none !important; */
    /* color: white; */
}

.btn-outline-info:active,
.btn-outline-info:hover {
    /* background-color: #fff; */
    /* border: none !important; */
    color: white;
}

.btn-dark {
    border: none !important;
}

.btn-dark:active,
.btn-dark:hover,
.btn-dark:focus {
    background-color: #191919;
}

.btn-info {
    background-color: #F9F4F4;
    border: none !important;
    color: var(--black);
}

.btn-info:active,
.btn-info:hover,
.btn-info:focus {
    background-color: rgba(25, 135, 84, 0.5);
    color: #fff;

}

.btn-success {
    /* background-color: #F9F4F4; */
    border: none !important;
    /* color: var(--black); */
}

.btn span,
.btn span i {
    /* margin-bottom: 0; */
}

.btn,
.btn span,
.btn span i {
    line-height: 50%;
    /* padding-bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    #newMeetingBtn {
        position: fixed;
        bottom: 10%;
        right: 5%;
        /* transform: translateX(50%); */
        /* border-radius: 50%; */
        z-index: 20;
    }


}